@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

:root{
    /* Color */
    --body-color: #E4E9E7;
    --sidebar-color: #242526;
    --primary-color: #F4B400;
    --primary-color-light: #F5F6FF;
    --color-shadow: rgba(0, 0, 0, 0.2);
    --toggle-color: #DDD;
    --text-color: #707070;
    --btngreen: #2BBF66;
    --btnblue: #2B66BF;
    --textbtn: #FFFFFF;

    /* transition */
    --tran-01: all 0.1s ease;
    --tran-02: all 0.2s ease;
    --tran-03: all 0.3s ease;
    --tran-04: all 0.4s ease;
    --tran-05: all 0.5s ease;



}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body{
    height: 100vh;
    background: var(--body-color);
    transition: opacity 0.2s;
    
}
.fade-out {
    opacity: 0;
  }
body.dark{
    /* Color */
    --body-color: #18191A;
    --sidebar-color: #242526;
    --primary-color: #CFA200;
    --primary-color-light: #3A3B3C;
    --color-shadow: rgba(124, 124, 124, 0.6);
    --toggle-color: #fff;
    --text-color: #ccc;

}


/* ====== sidebar ====== */
.sidebar .text{
    font-size: 16px;
    font-weight: 500;
    color: var(--text-color);
    transition: var(--tran-01);
    white-space: nowrap;
    opacity: 1;
}
.sidebar .image{
    min-width: 60px;
    display: flex;
    align-items: center;
}
.sidebar{
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    padding: 20px 12px;
    width: 250px;
    background: var(--sidebar-color);
    transition: var(--tran-02);
    z-index: 100;
}
.sidebar.close{
    width: 83px;
}
.sidebar.close .text{
    opacity: 0;

}
.sidebar.close .nav-text{
    display: none;
}
.sidebar header{
    position: relative;
}
.sidebar .image-text img{
    width: 35px;
}
.sidebar header .image-text{
    display: flex;
    align-items: center;
}
header .image-text .header-text{
    display: flex;
    flex-direction: column;
}
.header-text .name{
    font-weight: 600;
}
.header-text .profession{
    margin-top: -2px;
}
.sidebar header .toggle{
    position: absolute;
    top: 1%;
    right: -30px;
    transform: translateY(50%) rotate(180deg);
    height: 35px;
    width: 35px;
    background: var(--primary-color);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    color: var(--sidebar-color);
    font-size: 30px;
    transition: var(--tran-05);
}
.sidebar.close header .toggle{
    transform: translateY(50%);
}
.sidebar li{
    height: 50px;
    margin-top: 10px;
    list-style: none;
    display: flex;
    align-items: center;
}
.sidebar li .icon{
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 60px;
    font-size: 20px;
}
li {
    background: var(--sidebar-color);
}
.selected{
    background: var(--primary-color);
    border-radius: 6px;
    color: var(--textbtn);
}
.sidebar .selected a .icon,
.sidebar .selected a .text{
    color: var(--sidebar-color);
}


.sidebar li .icon,.sidebar li .text{
    color: var(--text-color);
}
.sidebar li a{
    height: 100%;
    width: 100%;
    text-decoration: none;
    display: flex;
    align-items: center;
    border-radius: 6px;
    transition: var(--tran-05);
}
.sidebar li a:hover{
    background: var(--primary-color);
}
.sidebar li a:hover .icon,
.sidebar li a:hover .text{
    color: var(--sidebar-color);
}
.sidebar .menu-bar{
    height: Calc(100% - 10px);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}



/* ====== end sidebar ====== */

/* ====== Start Main ====== */
.home{
    position: relative;
    height: 100vh;
    left: 250px;
    width: calc(100% - 250px);
    background: var(--body-color);
    transition: var(--tran-02);
}
.home .text{
    font-size: 30px;
    font-weight: 500;
    padding: 8px;
    padding-left: 50px;
    color: var(--text-color);
}
.sidebar.close ~ .home{
    left: 83px;
    width: calc(100% - 83px);
}
/* =========================================
============= GEDUNG CSS ================
========================================= */


/* ====== start gedung ====== */

.centered{
    display: flex;
    justify-content: center;
}
.card-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* Dua kolom */
    gap: 20px;
    padding: 20px;
}

.card {
    padding: 40px;
    padding-right: 60px;
    padding-left: 60px;
    background-color: var(--body-color);
    border: 5px solid var(--primary-color);
    border-radius: 10px;
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.1);
    width: 100%;
}
.card .ikon{
    display: flex;
    justify-content: center;
    font-size: 50px;
}
.card a{
    color: var(--text-color);
    text-decoration: none;  
    font-size: 20px;
}

/* Media Query to change the layout when the screen is narrow */
@media (max-width: 768px) {
    .card-grid {
        grid-template-columns: 1fr;
    }
    .card a{
        color: var(--text-color);
        text-decoration: none;  
        font-size: 30px;
    }
}

/* ====== end gedung ====== */

/* =========================================
============ GEDUNG CSS END ================
============================================ */

/* =========================================
============= DEVICE CSS ===================
============================================ */

/* ====== start device ====== */
.centered-device{
    margin-bottom: 200px;
}
.card-device {
    padding: 40px;
    padding-right: 70px;
    padding-left: 70px;
    background-color: var(--body-color);
    border: 5px solid var(--primary-color);
    border-radius: 10px;
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.1);
    width: 100%;
    text-align: center;
}

.card-device a {
    text-decoration: none;
    color: var(--text-color);
}

.icon {
    font-size: 48px;
    margin-bottom: 10px;
}

.card-title {
    font-size: 20px;
    font-weight: bold;
}

/* Media Query to change the layout when the screen is narrow */
@media (max-width: 768px) {
    
    .card a{
        color: var(--text-color);
        text-decoration: none;  
        font-size: 30px;
    }
}
/* ====== end device ====== */

/* =========================================
============= DEVICE CSS END ===============
============================================ */

/* =========================================
================= TABLE CSS =================
============================================ */


/* =========== start Table ========== */
.table-container{
    display: flex;
    justify-content: center;
}
.container-unit {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    gap: 20px;
    padding: 20px;
}

    
.card-unit button{
    width: 100%;
    border: none;
    background-color: var(--primary-color);
    cursor: pointer;
    border-radius: 8px;
    padding: 10px;
    text-align: center;
    background-color: #F4B400;
    box-shadow: 0 2px 4px var(--color-shadow);
}
.name{
    font-size: 18px;
    font-weight: bold;
    color: white;
}
  

  
.search-form {
    position: relative;
  }
.src-container{
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
    margin-top: 10px;
}
input[type="text"]
 {
    width: 25%;
    padding: 5px;
    border: 2px solid var(--primary-color);
    border-radius: 6px;
    background: var(--primary-color-light);
}
.search-button {
    border: none;
    background-color: var(--primary-color);
    font-size: 15px;
    font-weight: 800;
    color: var(--primary-color-light);
    border-radius: 6px;
    margin-left: 5px;
    cursor: pointer;
    width: 40px;
}
  
.search-button img {
    width: 20px;
    height: 20px;
}
  
.table-content{
    width: 80%;
    overflow-x: auto;
    padding: 20px;
    max-height: 500px;
    border-radius: 10px;
    background: var(--primary-color-light);
    box-shadow: 0 3px 5px var(--color-shadow);
    margin-top: 50px;
    margin-bottom: 100px;
    
}
table{
    width: 100%;
    border-collapse: collapse;
    margin-top: 5px;
    margin-bottom: 25px;
    
}
th{
    background-color: var(--primary-color);
    color: var(--primary-color-light);
    padding: 10px;
}

td {
    color: var(--text-color);
    text-align: center;
    padding: 10px;
}
tr:nth-child(odd) td {
    background-color: var(--primary-color-light);
}

tr:nth-child(even) td {
    background-color: #e5e5e5b6;
}

td a{
    background-color: var(--primary-color);
    text-decoration: none;
    padding: 8px;
    padding-right: 20px;
    padding-left: 20px;
    font-weight: bold;
    color: var(--primary-color-light);
    font-size: 13px;
    border-radius: 6px;
}
td a:hover{
    background-color: #ebae05;
}  
#no{
    border-radius: 10px 0px 0px 0px;
}
#action{
    border-radius: 0px 10px 0px 0px;
}
#no-value{
    border-left: 2px solid var(--primary-color);
}
#ac-value{
    border-right: 2px solid var(--primary-color);
}

@media (max-width: 768px) {
    input[type="text"]{
    width: 100%;
    }
    th, td {
        padding: 15px;
    }

    .search-form {
        overflow-x: auto;
        display: block;
    }

    .card-unit button {
        display: block;
        margin-bottom: 8px;
    }
    .container-unit {
        width: 100%;
        grid-template-columns: repeat(1, 1fr);
    }
    .table-content {
        width: 97%;
        padding: 10px;
        overflow-x: hidden; /* Menambahkan atribut ini */
    }

    table {
        margin-top: 0;
        margin-bottom: 15px;
    }

}
          

/* =========== End Table ========== */

/* =========================================
=============== TABLE CSS END ===============
============================================ */


/* =========================================
============= DETAIL SPEK CSS ===============
============================================ */

/* =========== start detail spek ========== */


.container-detail{
    display: flex;
    justify-content: center;
    margin-top: 50px;
}
.cards-grid-detail {
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    width: 70%;
}

.card-detail {
    box-shadow: 0 2px 4px var(--color-shadow);
    background-color: var(--primary-color-light);
    border-radius: 8px;
    width: 48%; /* Biarkan ruang sedikit untuk jarak antar card */
    margin-bottom: 100px;
}

.card-header-detail {
    display: flex;
    align-items: center;
    padding: 10px;
    background-color: var(--primary-color);
    color: var(--primary-color-light);
    border-radius: 8px 8px 0 0;
}

.card-title {
    margin-left: 10px;
}

.card-body {
    padding: 20px;
}

.card-body span{
    font-size: 18px;
    font-weight: 700;
    display: flex;
    justify-content: start;
    border-radius: 10px;
    color: var(--primary-color);
    margin-top: 10px;
    margin-bottom: 10px;
}
.card-body input[type='text']{
    width: 100%;
    border: none;
    border-bottom: 2px solid var(--primary-color);
    border-radius: 0px;
}
.card-body input:focus{
    outline: none;
}
.card-body img{
    width: 50%;
    
}
.card-body select {
    width: 100%;
    padding: 5px;
    border: none;
    border-bottom: 2px solid var(--primary-color);
    border-radius: 0px;
    background-color: var(--primary-color-light);
    color: var(--text-color);
    font-size: 14px;
    cursor: pointer;
    margin-bottom: 15px;
  }
  
  select::-ms-expand {
    display: none;
  }
  
  /* Gaya ketika input select aktif (focus) */
  select:focus {
    outline: none;
  }
  
  /* Gaya ketika input select memiliki opsi yang dipilih */
  select option:checked {
    background-color: var(--text-color);;
    color: var(--primary-color-light);
  }
  
textarea{
    width: 100%;
    height: 100px;
    border-radius: 0px;
    margin: 5px;
    border: none;
    border-bottom: 2px solid var(--primary-color);
    background: transparent;
    resize: none;
}
textarea::placeholder{
    padding: 7px;
}
textarea:focus{
    outline: none;
}
.card-body button {
    display: block;
    width: 100%;
    padding: 10px;
    background-color: var();
    color: var(--primary-color-light);
    background: var(--primary-color);
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-weight: bold;
}
.card-body .btn-ubah{
    margin-top: 50px;
}


/* ============== picture ================ */
.picture-container{
    display: flex;
    justify-content: center;
  }
  .picture {
    position: relative;
    width: 500px;
    height: 250px;
    border: 2px dashed var(--text-color);
    background: none;
    overflow: hidden;
    border-radius: 6px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .picture.has-dashed {
    border: none;
    border-radius: 0px;
  }
  .picture label {
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .picture img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: none;
  }
  .picture.has-image img {
    display: block;
  }
  .picture input[type="file"] {
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 0;
    cursor: pointer;
    z-index: 1; /* Untuk mengaktifkan klik pada label */
  }
  .file-label {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    cursor: pointer;
    background-color: var(--primary-color-light);
    transition: background-color 0.3s ease;
  }
  
  .file-label:hover {
    background-color: rgba(0, 0, 0, 0.7);
  }
  
  .plus-icon {
    font-size: 40px;
    color: var(--text-color);
  }
/* ============== end picture ================ */


@media screen and (max-width: 768px) {
    .cards-grid-detail{
        display: flex;
        flex-direction: column;
        width: 100%;
        justify-content: center;
        align-items: center;
        margin-top: 6px;
    }
    .card-detail {
        box-shadow: 0 2px 4px var(--color-shadow);
        background-color: var(--primary-color-light);
        border-radius: 8px;
        width: 90%; /* Biarkan ruang sedikit untuk jarak antar card */
        margin-bottom: 30px;
    }
    .card {
      width: 100%;
      margin-bottom: 20px;
    }
  }
  
/* =========== end detail spek ========== */

/* =========================================
=========== DETAIL SPEK CSS END =============
============================================ */

/* ====== end Main ====== */