@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

:root{
    /* Color */
    --body-color: #E4E9E7;
    --sidebar-color: #242526;
    --primary-color: #F4B400;
    --primary-color-light: #F5F6FF;
    --color-shadow: rgba(0, 0, 0, 0.2);
    --toggle-color: #DDD;
    --text-color: #707070;
    --btngreen: #2BBF66;
    --btnblue: #2B66BF;
    --textbtn: #FFFFFF;

    /* transition */
    --tran-01: all 0.1s ease;
    --tran-02: all 0.2s ease;
    --tran-03: all 0.3s ease;
    --tran-04: all 0.4s ease;
    --tran-05: all 0.5s ease;



}


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body{
    height: 100vh;
    background: var(--body-color);
    transition: var(--tran-04);
    
}


/* Navbar
================================================= */
.navbar.scrolled a{
    color: var(--text-color);
}
.navbar.scrolled button{
    color: var(--text-color);
}
.navbar.scrolled {
    background: var(--body-color);
    transition: var(--tran-04);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2); 
}
.navbar.scrolled .line{
    background-color: var(--text-color);
}
a{
    text-decoration: none;
}
.navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 20px;
    color: var(--primary-color-light);
    z-index: 1000; /* Menetapkan indeks-z untuk memastikan navbar tetap di atas konten */
    transition: background-color 0.3s ease; /* Transisi warna latar belakang ketika di-scroll */
}
.nav-tiket{
    background-color: var(--body-color);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2); 
}
.nav-tiket .logo-text a,
.nav-tiket .nav-links a,
.nav-tiket .profile a,
.nav-tiket .profile button{
    color: var(--text-color);
}

.logo {
    margin-left: 20px;
    display: flex;
    align-items: center;
    
}

.logo-text {
    display: flex;
    align-items: center;
    margin-left: 10px;
    
}
.logo-text a {
    color: var(--primary-color-light);
}
.logo-name {
    font-size: 16px;
    font-weight: bold;
}

.logo-profession {
    margin-left: 4px;
    font-size: 16px;
}

.logo img {
    margin-left: 15px;
    max-height: 30px;
}
.con-nav-prof{
    display: flex;
    justify-content: end;
    align-items: center;
}

.nav-links{
    margin: 0;
    gap: 0;
}
.nav-links a {
    text-decoration: none;
    color: var(--primary-color-light);
    transition: var(--tran-03);
    padding: 15px;
    padding-left: 20px;
    padding-right: 20px;
    font-weight: 700;
    
}
.nav-links a:hover{
    background-color: var(--primary-color);
    color: var(--primary-color-light);
}

.burger {
    display: none;
    flex-direction: column;
    cursor: pointer;
}

.line {
    width: 25px;
    height: 3px;
    background-color: var(--primary-color-light);
    margin: 3px 0;
}
.drop-prof{
    display: none;
}
.profile{
    margin-right: 30px;
    display: flex;
    justify-content: end;
    align-items: center;
    width: 50%;
}
.profile a{
    font-weight: 700;
    color: var(--primary-color-light);
}
.profile img{
    padding: 10px;
    width: 9%;
    margin-left: 10px;
    border-radius: 100px;
}
/* ... CSS Anda yang sudah ada ... */

.dropdown {
    position: relative;
    display: inline-block;
  }
  .profile button{
    color: var(--primary-color-light);
    margin-left: 10px;
  }
  .dropbtn {
    background: none;
    font-size: 13px;
    border: none;
    cursor: pointer;
  }
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 190px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  .dropdown-content a:hover {
    background-color: #f1f1f1;
  }
  
  .dropdown:hover .dropdown-content {
    display: block;
  }
  

@media screen and (max-width: 768px) {
    
    .navbar{
        background-color: var(--body-color);
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2); 
    }
    .navbar .line{
        background-color: var(--text-color);
    }
    .nav-links {
        display: none;
        flex-direction: column;
        background-color: #dddfdd;
        
        position: absolute;
        top: 45px;
        left: 0;
        width: 100%;
        text-align: center;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2); 
    }
    .nav-links a{
        color: var(--text-color);
    }
    .logo-text a {
        color: var(--text-color);
    }
    .nav-links.active {
        display: flex;
    }

    .burger {
        display: flex;
    }
    .profile{
        display: none;
    }
    .drop-prof{
        display: flex;
        flex-direction: column;
        background-color: rgb(199, 204, 199);
    }
}
/* Navbar end
================================================= */

/* Thumnail
================================================= */

.thumnail {
    position: relative;
    text-align: center;
    padding: 100px 0; /* Atur padding sesuai kebutuhan Anda */
    color: white;
    text-align: center;
}

.thumnail img {
    width: 100%; /* Menyesuaikan gambar dengan lebar div */
    max-width: 100%; /* Maksimum lebar gambar adalah lebar div */
    height: auto; /* Menjaga proporsi gambar */
    display: block; /* Menghilangkan spasi di bawah gambar */
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1; /* Mengirim gambar ke belakang teks */
    clip-path: polygon(0 0, 100% 0, 100% 70%, 0 70%); /* Memotong ketinggian gambar dari setengahnya */
    filter: blur(1px) brightness(0.3); /* Efek blur pada gambar */
}
.thumnail span{
    display: flex;
    justify-content: center;
}
.thumnail h1 {
    font-size: 3vw; /* Menggunakan unit vw untuk responsivitas */
    font-weight: bold;
    margin: 0;
    padding: 3vw; /* Atur padding sesuai kebutuhan Anda */
    width: 70%;
}
.divider {
    border: none;
    padding: 10px;
    background-color: var(--primary-color);
    margin: 30px auto; /* Atur margin sesuai dengan kebutuhan responsif */
    max-width: 100%; /* Lebar maksimum untuk responsivitas */
}
@media screen and (max-width: 768px) {
    .thumnail img {
        margin-top: 50px;
        clip-path: polygon(0 0, 100% 0, 100% 95%, 0 95%); /* Memotong ketinggian gambar dari setengahnya */
        transform-origin: center; /* Pusat transformasi */
        transform: scale(1.2); /* Efek zoom pada tampilan mobile */
        width: 91%; /* Memperbesar lebar gambar untuk efek zoom */
        height: 160px;
        filter: blur(3px) brightness(0.6); /* Efek blur pada gambar */
    }
    .thumnail h1{
        margin-top: -30px;
        font-size: 5vw;
    }
    .divider{
        padding: 10px;
    }
}

/* Thumnail end
================================================= */

/* content
================================================= */
.all-content{
    margin: 0;
    padding: 0;
}
.content-container {
    display: flex;
    justify-content: center; /* Mengatur konten berada di tengah secara horizontal */
    height: 100vh; /* Memberikan tinggi sepanjang viewport */

}

.content {
    display: flex;
    justify-content: center;
}

.image {
    flex: 1; /* Bagian gambar mengambil ruang yang tersedia */
    max-width: 100%;
    max-height: 50%;
    display: flex;
    justify-content: center;
    align-items: end;
    
}

.image img {
    width: 100%;
    padding-right: 20px; /* Jarak antara gambar dan teks */
}

.text {
    flex: 1; /* Bagian teks mengambil ruang yang tersedia */
    max-width: 500px;
}
.text h2{
    font-size: 30px;
    margin-bottom: 20px;
}
.text p {
    flex: 1; /* Bagian deskripsi mengambil ruang yang tersedia */
    margin-bottom: 20px; /* Jarak antara teks dan deskripsi */
}
.text a{
    background-color: var(--primary-color);
    padding: 10px 20px 10px 20px;
    border-radius: 20px;
    font-weight: 700;
    color: var(--primary-color-light);
    margin: 10px;
}
.additional-container{
    display: flex;
    align-items: start;
    margin-top: -210px;
    margin-bottom: -100px;
}
.additional-content{
    display: flex;
    align-items: center;
    text-align: end;
    flex-direction: row-reverse;

}
@media screen and (max-width: 768px) {
    .content-container{
        display: flex;
        align-items: end;
        height: 70vh; /* Memberikan tinggi sepanjang viewport */
        margin-top: -200px;
    }
    .content {
        flex-direction: column; /* Mengubah tata letak menjadi kolom pada mode mobile */
        justify-content: center;
        margin-top: -200px;
    }
    img{
        width: 100%;
    }
    .image{
        display: flex;
        justify-content: center;
    }
    .text {
    
        text-align: center;
        padding: 0 20px;
    }
    .text h2{
        font-size: 25px;
    }
    .text p {
        font-size: 15px;
    }
    .text a{
        margin: 5px;
    }
    .additional-container{
        margin-top: 50px;
        display: flex;
        align-items: center;
    }
}
@media screen and (max-width: 360px){
    .content-container{
        display: flex;
        align-items: center;
        height: 100vh; /* Memberikan tinggi sepanjang viewport */
    }
    .additional-container{
        display: flex;
        align-items: center;
    }
}

@media screen and (max-width: 375px){
    .content-container{
        display: flex;
        align-items: end;
        height: 100vh; /* Memberikan tinggi sepanjang viewport */
    }
    .additional-container{
        display: flex;
        align-items: center;
    }
}

/* content end
================================================= */



/* footer
================================================= */

.footer {
    background-color: var(--sidebar-color);
    color: var(--text-color);
    padding: 20px;
    text-align: center;
}

.footer-logo {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 10px;
}

.footer-logo img {
    width: 25px;
    height: 25px;
    margin-right: 10px;
}

.footer-logo span {
    font-weight: bold;
}

.footer-credit {
    margin-bottom: 10px;
    font-size: 13px
}

.footer-copyright {
    font-size: 12px;
}
.logo-text {
    text-align: center;
    display: flex;
    align-items: end;
    color: var(--primary-color-light);
}

.logo-text .name {
    font-weight: bold;
    display: block;
    font-size: 18px;
}

.logo-text .profesion {
    font-size: 14px;
    margin-left: 5px;
}
@media screen and (max-width: 768px) {
    .footer-logo {
        flex-direction: column;
    }

    .footer-logo img {
        margin-right: 0;
        margin-bottom: 5px;
    }
}

/* footer end
================================================= */
